.Screen_top_bar_menu{
    top:24px;
    position: fixed;
    left: -1px;
    width: 100%;
    height: 70px;
    background-color: #247BA0;
    font-family:sans-serif;
    color: #CCCCCC;
}
.OVER_ALL_TOP_BAR{
    position: fixed;
    width: 80px;
    top:40px;
    left: 30px;
    cursor: pointer;
}
.DRIVING_TIPS_TOP_BAR{
    position: fixed;
    width: 80px;
    top:40px;
    left: 150px;
    cursor: pointer;
}
.SELECTED_TOP_BAR{
    padding-bottom:13px ;
    border-bottom: solid 5px #FFE066;
}
.line{
    position: fixed;
    top: 180px;
    left: 30%;
    background: #4A86E8;
    width: 2px;
    height: 65%;
    z-index: 1;
}
#OUTER_OVERALL{
    position: fixed;
    top: 185px;
    left: 20%;
    width: 750px;
    height: 65%;
    overflow-y:auto;
    font-family:sans-serif;
}
.Inner_OVERALL{
   
}
.date{
    position: absolute;
    color: #50514F;
    width: 80px;
    left: 8%;
}
.trips{
    position: relative;
    background-image: url(mapBackgroung.PNG);
    height: 130px;
    width: 550px;
    left: 21%;
    border-radius: 10px;
}
.trips p {
    color: #247BA0;
    padding-left: 25px;
    padding-top: 15px;
}
.trips table td{
    font-weight: bold;
    color: #50514F;
}
.trips table .number {
    color: #F25F5C;
    font-size: 35px;
    font-weight:300;
    padding-left: 25px;
}
/*UNHIDEN */
#OVERALL_VIEW_DIV{
    visibility: hidden;
}

.DRIVING_TIPS_DIV .TOP{
    background-color: white;
    position: fixed;
    top: 90px;
    z-index: -1;
    width: 100%;
    left: -1px;
    
}

.DRIVING_TIPS_DIV .TOP span{
    font-family:sans-serif;
    color: #F25F5C;
    position: fixed;
    left:170px;
    width: 950px;
    top: 120px;
    
}
.DRIVING_TIPS_DIV .TOP span span{
      top: 150px;
       color:#333333;
    text-align: justify;
}

.DRIVING_TIPS_DIV .TOP img{
    height: 100px;
    width: auto;
    padding: 15px;
    
}