.outerDiv{
    background-color: #D9D9D9;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;
    top: 15%;
}
#Children{
    background-color: #EFEFEF;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: auto;
}
#Children div{
    cursor: pointer;
    color: #247BA0;
    font-family:sans-serif;
    padding:20px 0px 20px 50px;
}

#map {
    position: absolute;
    left:280px;
    top:20px;
     width: 75%;
    height: 300px;
    background-color: black;
}

.date{
    position: absolute;
    color: #50514F;
    width: 80px;
    left: 8%;
}

.t2{
    position: absolute;
    height: 130px;
    width: 900px;
    left: 320px;
    top: 300px;
    border-radius: 10px;
    font-family: sans-serif;
}

td{
    font-weight: bold;
    color: #50514F;
    
}

.number {
    color: #F25F5C;
    font-size: 35px;
    font-weight:300;
    text-align: center;
}

.vmessage{
    position: absolute;
    width: 750px;
    height: 35px;
    left: 330px;
    top: 430px;
}
.button{
    position: absolute;
    width: 100px;
    height: 41px;
    left: 1083.5px;
    top: 430px;
    background-color: #FFE066;
    font-weight: bold;
    font-family: sans-serif;
    border: 0px;
}