body{
    background-color: #F3F3F3;
}

.Screen_top_bar{
    position:fixed;
    width: 100%;
    top:-1px;
    background-color: #293241;
    left: -1px;
    height: 25px;
}
.screen_top_bar_text{
    top:3px;
    color: #CCCCCC;
    font-size-adjust: 0.58;
    font-family:sans-serif;
}

.text_1{
    position:fixed;
    left: 1%;
    width: 150px;
    cursor: pointer;
}

.text_2{
    cursor: pointer;
    position:fixed;
    right: 20px;
    width: auto;
}
.text_3{
    cursor: pointer;
    position:fixed;
    left: 200px;
    width: auto;
}
.text_4{
    cursor: pointer;
    position:fixed;
    left: 310px;
    width: auto;
}
.text_5{
    cursor: pointer;
    position:fixed;
    left: 440px;
    width: auto;
}

.top_selected{
    top:-1px;
    padding-top: 4px;
    background-color: #247BA0;
    border-color: #247BA0;
    border-style: solid;
    border-width:0px 8px 2.5px 8px;
    
}

.trips{
    position: relative;
    background-image: url(mapBackgroung.PNG);
    height: 130px;
    width: 550px;
    left: 21%;
    border-radius: 10px;
}
.trips p {
    color: #247BA0;
    padding-left: 25px;
    padding-top: 15px;
}
.trips table td{
    font-weight: bold;
    color: #50514F;
}
.trips table .number {
    color: #F25F5C;
    font-size: 35px;
    font-weight:300;
    padding-left: 25px;
}
