body{
    background-color: #F3F3F3;
}

#Screen_top_bar{
    position:fixed;
    width: 100%;
    top:-1px;
    background-color: #293241;
    left: -1px;
    height: 25px;
    
}
.screen_top_bar_text{
    top:3px;
    color: #CCCCCC;
    font-size-adjust: 0.58;
    font-family:sans-serif;
}